

//fontface
$default-font-size:1.6rem;





//color
$color-grey:#DDDDDD;
$color-navy:#001f3f;
$color-blue:#0074D9;
$color-olive:#3D9970;
$color-yellow:#FFDC00;
$color-orange:#FF851B;
$color-red:#FF4136;
$color-black:#111111;
$color-green:#2ECC40;

//font
$default-font-color:$color-grey;


//grid width
$grid-width: 114rem;
$grid-gutter-vertical:8rem;
$grid-gutter-vertical-small:6rem;
$grid-gutter-horizontal:6rem;
$grid-gutter-vetical-small:3rem;
